// Main palette
$contentTextColor: #696871;
$white: #fff;
$dark: #19191b;
$blue: #5454d4;
$standardSliderColor: #f7f7fb;
$activeSliderColor: #5454d4;
$cardBgColor: #f8f8f8;
$cardClassColor: #1d293f;
$activeCardColor: #ff7143;
$activeCardBtn: #9f3919;
$transparent: transparent;

// Secondary palette
$gray: #e7e7e7;
