// Templates
%basicTextParameters {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: $contentTextColor;
}

%container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: content-box;
}

%wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

%ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
