// Functions
@import "@/scss/modules/functions";

// Templates
%basicTextParameters {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: $contentTextColor;
}

%container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: content-box;
}

%wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

%ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

%js-input {
  &.error {
    border-color: $activeCardColor;
  }
}

%field-label {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: percentlh(24, 18);
  letter-spacing: -0.500211px;
  margin-bottom: 5px;
}

%input-field {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 42px;
  border: 1px solid $contentTextColor;
  border-radius: 8px;
  outline: none;
  padding: 0 24px;
  background-color: $transparent;
  transition: all 0.3s ease 0s;
}
