// Modules
@use "../scss/modules/reset" as reset;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Mulish&family=Roboto&display=swap");

// Palette
@import "../scss/modules/palette";

// Templates
@import "../scss/modules/templates";

// Functions
@import "../scss/modules/functions";

// Styles for buttons
@import "../scss/modules/buttons";

/* Presets and common styles*/
body {
  @extend %basicTextParameters;
  background-color: $white;
}

.wrapper {
  @extend %wrapper;
}

._container {
  @extend %container;
}

._ibg {
  @extend %ibg;
}

/* Header styles start */
.header {
  padding-top: 25px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    flex: 0 1 220px;
  }

  &__logo-pic {
    transition: all 0.5s ease 0s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.menu {
  padding: 0 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 15px;
    line-height: percentlh(20, 15);
    letter-spacing: -0.468947px;
    position: relative;
    padding: 10px 0;
    transition: all 0.5s ease 0s;

    &:hover {
      color: $dark;

      &::after {
        content: "";
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 41px;
      bottom: 0;
      height: 2px;
      left: 50%;
      background-color: $blue;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.5s ease 0s;

      // transition: all 1s ease 0s;
    }
  }
}
/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;

  &__home {
    padding: 95px 0 50px 0;
  }

  &__partners {
    padding: 50px 0 50px 0;
  }

  &__blog {
    padding: 100px 0 75px 0;
  }

  &__features {
    padding: 75px 0 75px 0;
  }

  &__pricing {
    padding: 75px 0 175px 0;
  }
}

/* Home styles start */
.home {
  &__container {
    max-width: 1070px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 25px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    margin-right: -78px;
  }

  &__content {
    flex: 0 1 460px;
  }

  &__title {
    font-size: 80px;
    line-height: percentlh(77, 80);
    color: $dark;
    letter-spacing: -2.50105px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: percentlh(30, 20);
    letter-spacing: -0.625263px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    padding-bottom: 56.1%;
    padding-left: 53.14%;
  }
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__link {
    margin: 25px 0;
    flex: 0 1 220px;
  }

  &__icon {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-left: 40px;
    transition: all 0.3s ease 0s;

    &:hover {
      border: 1px solid $dark;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Home styles end */

/* Partners styles start */
.partners {
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: 8px 15px;
    flex: 0 1 20%;
    text-align: center;
    min-width: 140px;
  }

  &__item-logo {
    max-width: 100%;
    transition: all 0.5s ease 0s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
/* Partners styles end */

/* Blog styles start */
.blog {
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "stats__img stats__desc"
      "data__desc data__img";

    align-items: center;
    row-gap: 83px;
  }

  &__img {
    position: relative;
    padding-bottom: 88.6%;
    padding-left: 65.049%;

    &:nth-child(1) {
      grid-area: stats__img;
      justify-self: start;
    }

    &:nth-child(3) {
      grid-area: data__img;
      justify-self: center;
    }
  }

  &__description {
    &:nth-child(2) {
      grid-area: stats__desc;
    }

    &:nth-child(4) {
      grid-area: data__desc;
    }
  }
}

.description {
  &__body {
    > * {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    color: $dark;
    font-size: 50px;
    line-height: percentlh(57, 50);
    letter-spacing: -1.56316px;
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: percentlh(30, 20);
    letter-spacing: -0.625263px;
  }

  &__more {
    line-height: percentlh(22, 17);
    letter-spacing: -0.531474px;
    color: $blue;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.8;
    }
  }
}
/* Blog styles end */

/* Features section styles start */
.features {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -37px;
  }

  &__column {
    padding: 0 37px;
    flex: 0 1 33.333%;
  }
}
.item-features {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;

  > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 114px;
    height: 64px;
  }

  &__title {
    color: $dark;
    font-size: 24px;
    line-height: percentlh(36, 24);
    letter-spacing: -0.750316px;
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: percentlh(24, 16);
    letter-spacing: -0.500211px;
  }
}
/* Features section styles end */

/* Pricing section styles start */
.pricing {
  &__container {
    max-width: 1111px;
    padding: 0 6px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 82px;
  }

  &__title {
    font-size: 60px;
    line-height: percentlh(70, 60);
    letter-spacing: -1.87579px;
    color: $dark;
  }

  &__slider {
    flex: 0 1 344px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 26px;
    margin: 0 -23px;
  }

  &__column {
    padding: 0 23px;
    flex: 0 1 33.333%;
  }
}

.slider {
  min-height: 65px;
  border: 5px solid $standardSliderColor;
  background-color: $standardSliderColor;
  border-radius: 10px;
  text-align: center;
  color: $dark;
  font-size: 16px;
  line-height: percentlh(21, 16);
  letter-spacing: -0.500211px;

  &__yearly {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.5s ease 0s;

    &:hover {
      color: $white;
      background-color: $activeSliderColor;
    }
  }

  &__monthly {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.5s ease 0s;

    &:hover {
      color: $white;
      background-color: $activeSliderColor;
    }
  }
}

.item-pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: $cardBgColor;
  border-radius: 10px;
  padding: 34px 10px 23px;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &__class {
    font-weight: 40;
    font-size: 18px;
    line-height: percentlh(28, 18);
    letter-spacing: -0.562737px;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__cost {
    color: $cardClassColor;
    font-size: 28px;
    line-height: percentlh(56, 60);

    letter-spacing: -1.03448px;

    mark {
      font-size: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__info {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }

  &:hover {
    transform: scale(1.139, 1.073);
    background-color: $activeCardColor;
    color: $white;

    .item-pricing {
      &__cost {
        color: $white;

        > * {
          color: $white;
        }
      }

      &__button {
        color: $white;
        background-color: $activeCardBtn;
        border: none;
      }
    }
  }
}

.info {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: percentlh(50, 17);
  letter-spacing: -0.531474px;
}
/* Pricing section styles end */

/* Page styles end */
