// Modules
@use "../scss/modules/reset" as reset;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Mulish&family=Roboto&display=swap");

// Palette
@import "../scss/modules/palette";

// Templates
@import "../scss/modules/templates";

// Mixins
@import "../scss/modules/mixins";

// Functions
@import "../scss/modules/functions";

// Styles for buttons
@import "../scss/modules/buttons";

/* Presets and common styles*/
body {
  @extend %basicTextParameters;
  background-color: $white;
}

.wrapper {
  @extend %wrapper;
}

._container {
  @extend %container;
}

._ibg {
  @extend %ibg;
}

/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 25px 0;

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__button {
    flex: 0 1 220px;
  }

  &__logo {
    position: relative;
    z-index: 3;
    transition: all 0.5s ease 0s;

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.2);
    }
  }

  &_active {
    background-color: $cardBgColor;
  }
}

.menu {
  padding: 0 10px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 15px;
    line-height: percentlh(20, 15);
    letter-spacing: -0.468947px;
    position: relative;
    padding: 10px 0;
    transition: all 0.5s ease 0s;

    &:hover,
    &:active,
    &:focus {
      color: $dark;

      &::after {
        content: "";
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 41px;
      bottom: 0;
      height: 2px;
      left: 50%;
      background-color: $blue;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.5s ease 0s;

      // transition: all 1s ease 0s;
    }
  }
}
/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;

  &__home {
    padding: 185px 0 50px 0;
  }

  &__partners {
    padding: 50px 0 50px 0;
  }

  &__blog {
    padding: 100px 0 75px 0;
  }

  &__features {
    padding: 75px 0 75px 0;
  }

  &__pricing {
    padding: 75px 0 175px 0;
  }
}

/* Home styles start */
.home {
  &__container {
    max-width: 1070px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 80px 0 25px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    margin-right: -78px;
  }

  &__content {
    flex: 0 1 460px;
  }

  &__title {
    @include adaptiv-font(80, 55);
    line-height: percentlh(77, 80);
    color: $dark;
    letter-spacing: -2.50105px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    @include adaptiv-font(20, 18);
    line-height: percentlh(30, 20);
    letter-spacing: -0.625263px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    padding-bottom: 56.1%;
    padding-left: 53.14%;
  }
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__link {
    margin: 25px 0;
    flex: 0 1 220px;
  }

  &__icon {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-left: 40px;
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $dark;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Home styles end */

/* Partners styles start */
.partners {
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: 8px 15px;
    flex: 0 1 20%;
    text-align: center;
    min-width: 140px;
    transition: all 0.5s ease 0s;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
    }
  }

  &__item-logo {
    max-width: 100%;
  }
}
/* Partners styles end */

/* Blog styles start */
.blog {
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "stats__img stats__desc"
      "data__desc data__img";

    align-items: center;
    row-gap: 83px;
  }

  &__img {
    position: relative;
    padding-bottom: 88.6%;
    padding-left: 65.049%;

    &:nth-child(1) {
      grid-area: stats__img;
      justify-self: start;
    }

    &:nth-child(3) {
      grid-area: data__img;
      justify-self: center;
    }
  }

  &__description {
    &:nth-child(2) {
      grid-area: stats__desc;
    }

    &:nth-child(4) {
      grid-area: data__desc;
    }
  }
}

.description {
  &__body {
    > * {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    color: $dark;
    line-height: percentlh(57, 50);
    letter-spacing: -1.56316px;
    @include adaptiv-font(50, 40);
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    line-height: percentlh(30, 20);
    letter-spacing: -0.625263px;
    @include adaptiv-font(20, 18);
  }

  &__more {
    line-height: percentlh(22, 17);
    letter-spacing: -0.531474px;
    color: $blue;
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
    }
  }
}
/* Blog styles end */

/* Features section styles start */
.features {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -37px -30px;
  }

  &__column {
    padding: 0 37px;
    flex: 0 1 33.333%;
    margin: 0 0 30px 0;
  }
}
.item-features {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;

  > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 114px;
    height: 64px;
  }

  &__title {
    color: $dark;
    font-size: 24px;
    line-height: percentlh(36, 24);
    letter-spacing: -0.750316px;
    // flex: 1 1 auto;
  }

  &__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: percentlh(24, 16);
    letter-spacing: -0.500211px;
  }
}
/* Features section styles end */

/* Pricing section styles start */
.pricing {
  &__container {
    max-width: 1111px;
    padding: 0 6px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 82px;
  }

  &__title {
    @include adaptiv-font(60, 50);
    line-height: percentlh(70, 60);
    letter-spacing: -1.87579px;
    color: $dark;
  }

  &__slider {
    flex: 0 1 344px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 26px;
    margin: 0 -23px -20px;
  }

  &__column {
    padding: 0 23px;
    flex: 0 1 33.333%;
    margin: 0 0 20px 0;
  }
}

.slider {
  min-height: 65px;
  border: 5px solid $standardSliderColor;
  background-color: $standardSliderColor;
  border-radius: 10px;
  text-align: center;
  color: $dark;
  font-size: 16px;
  line-height: percentlh(21, 16);
  letter-spacing: -0.500211px;

  &__yearly {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.5s ease 0s;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $activeSliderColor;
    }
  }

  &__monthly {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.5s ease 0s;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $activeSliderColor;
    }
  }
}

.item-pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: $cardBgColor;
  border-radius: 10px;
  padding: 34px 10px 23px;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &__class {
    font-weight: 40;
    font-size: 18px;
    line-height: percentlh(28, 18);
    letter-spacing: -0.562737px;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__cost {
    color: $cardClassColor;
    font-size: 28px;
    line-height: percentlh(56, 60);

    letter-spacing: -1.03448px;

    mark {
      font-size: 60px;
    }

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__info {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.139, 1.073);

    background-color: $activeCardColor;
    color: $white;

    .item-pricing {
      &__cost {
        color: $white;

        > * {
          color: $white;
        }
      }

      &__button {
        color: $white;
        background-color: $activeCardBtn;
        border: none;
      }
    }
  }
}

.info {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: percentlh(50, 17);
  letter-spacing: -0.531474px;
}
/* Pricing section styles end */

/* Page styles end */

/* Media queries start */
@media screen and (max-width: 1010px) {
  .page {
    &__home {
      padding: 155px 0 50px 0;
    }
  }
  .home {
    &__container {
      padding: 0 25px;
    }

    &__body {
      margin-right: 0;
      justify-content: center;
    }

    &__content {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin: 0 0 25px 0;
      }
    }

    &__text {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .button {
    &__link {
      flex: 1 1 auto;
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: 970px) {
  .page {
    > * {
      &:not(:first-child) {
        padding: 30px 0;
      }
    }
  }

  .pricing {
    &__column {
      &:first-child {
        flex: 1 1 100%;
      }

      &:nth-child(2) {
        flex: 1 1 50%;
      }

      &:last-child {
        flex: 1 1 50%;
      }
    }
  }

  .item-pricing {
    &:hover,
    &:focus,
    &:active {
      transform: scale(1);
    }
  }

  .features {
    &__column {
      &:first-child {
        flex: 1 1 100%;
      }

      &:nth-child(2) {
        flex: 1 1 50%;
      }

      &:last-child {
        flex: 1 1 50%;
      }
    }
  }

  .pricing {
    &__header {
      margin: 0 0 50px 0;
      justify-content: center;
    }

    &__title {
      margin: 0 0 30px 0;
    }

    &__slider {
      flex: 0 1 100%;
    }
  }

  .item-features {
    > * {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $cardBgColor;
      z-index: 3;
    }

    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;

      span {
        position: absolute;
        background-color: $contentTextColor;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
        background-color: $contentTextColor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        span {
          transform: scale(0);
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }

    &__button {
      position: fixed;
      bottom: -100%;
      left: 0;
      transition: all 0.3s ease 0s;
      z-index: 2;

      &.active {
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 60%;
      }
    }
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $cardBgColor;

    transition: all 0.3s ease 0s;
    z-index: 2;

    &.active {
      top: 0;
    }

    &__list {
      display: block;
      position: absolute;
      left: 0;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);

      > * {
        &:not(:last-child) {
          margin: 0;
        }
      }
    }

    &__link {
      font-size: 26px;
    }
  }

  .page {
    &__home {
      padding: 145px 0 20px 0;
    }
  }
  .home {
    &__content {
      &:not(:last-child) {
        margin: 0;
      }
    }

    &__img {
      display: none;
    }
  }

  .button {
    &__icon {
      margin: 0 0 0 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .page {
    &__blog {
      padding: 0 0 30px 0 !important;
    }
  }

  .blog {
    &__body {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, minmax(250px, 1fr));
      grid-template-areas:
        "stats__desc"
        "stats__img"
        "data__desc"
        "data__img";
      justify-items: center;
      row-gap: 0;
    }

    &__img {
      &:first-child {
        justify-self: inherit;
      }
    }
  }

  .pricing {
    &__column {
      padding: 0 10px;
    }
  }
}
/* Media queries end */
